<application
    android:allowBackup="true"
    android:fullBackupContent="@xml/backup_rules"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/Theme.AegisMesh">

    <activity
        android:name=".activities.HomeActivity"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>

    <activity android:name=".activities.EmergencyActivity"/>
    <activity android:name=".activities.ProfileActivity"/>
    <activity android:name=".activities.LoginActivity"/>

    <service
        android:name=".services.MeshService"
        android:enabled="true"
        android:exported="false"
        android:foregroundServiceType="connectedDevice"/>
</application>